[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
async-vk-api = {editable = true, path = "."}

[dev-packages]
flask = "*"
pytest = "*"
pytest-cov = "*"
pytest-trio = "*"

[requires]
python_version = "3.7"
